---
---

@import "reset";
@import "vars";
@import "base";
@import "typo";
@import "tiles";
@import "filter";
@import "navigation";
@import "article";
@import "section";
@import "product";
@import "cart";
@import "footer";
@import "page";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.clearfix:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
