---
layout: default
---
<section class="section">
    <h1 class="section__header">Nasze produkty</h1>
    <div class="section__line"></div>
    <div class="tiles">
        <div class="tiles__row">
            {% for product in site.products %}
                {% include tile_vertical.html content=product %}
            {% endfor %}
        </div>
        <a class="tiles__more" href="{{ '/pomoce-dydaktyczne' | relative_url }}">Pokaż wszystkie</a>
    </div>
</section>
<section class="section">
    <h1 class="section__header">Blog</h1>
    <div class="section__line"></div>
    <div class="tiles">
        <div class="tiles__row">
            {% for post in site.posts %}
                {% include tile_horizontal.html content=post %}
            {% endfor %}
        </div>
    </div>
</section>