<!-- Cookies -->
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
<style>
    .cc-window {
        font-family: 'Quicksand', sans-serif;
        font-size: 0.8rem;
    }
</style>
<script>
    window.addEventListener("load", function(){
        window.cookieconsent.initialise({
            "palette": {
                "popup": {
                    "background": "#ffffff",
                    "text": "#444444"
                },
                "button": {
                    "background": "#00a6ea",
                    "text": "#ffffff"
                }
            },
            "content": {
                "message": "Nasza strona używa ciasteczek, aby zapewnić Ci najlepszą obsługę.",
                "dismiss": "OK",
                "link": "Poznaj szczegóły",
                "href": "/polityka-prywatnosci",
            },
        })});
</script>