<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NC8JVRC" height="0" width="0"
        style="display: none; visibility: hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<nav class="navigation">
    <a href="{{ '/' | relative_url }}" name="Home page"><img alt="logo" class="logo"
            src="{{ '/assets/images/logo3.svg' | relative_url }}" /></a>
    <div class="navigation__handler">
        <img alt="Menu" class="navigation__menu" src="{{ '/assets/images/menu.svg' | relative_url}}" />
        <span class="navigation__label">Menu</span>
    </div>
    <ul class="navigation__items">
        <li class="navigation__item">
            <a href="{{ '/pomoce-dydaktyczne' | relative_url}}">Pomoce dydaktyczne</a>
        </li>
        <li class="navigation__item">
            <a href="{{ '/kontakt' | relative_url}}">Kontakt</a>
        </li>
        <span class="navigation__close">{% include close.html %}</span>
    </ul>
    {% unless include.noCart %}
    <a href="{{ '/koszyk' | relative_url}}" class="cart">
        {% include cart.html %}
    </a>
    {% endunless %}
    <span class="navigation__view">Witaj</span>
</nav>