// Older browsers
html {
    font-size: 16px;
}

// Modern browsers only need this one
// calc(min-font + (max-font - min-font) * (100vw - min-screen) / (max-screen - min-scree)

@media screen and (min-width: 25em){
  html {
      font-size: calc( 16px + (20 - 16) * (100vw - 400px) / (1024 - 400) );
  }
}

@media screen and (min-width: 60em) {

  html {
    font-size: 1rem
  }
}

main {
    min-height: 80vh;
}