$white: #ffffff;
$black: #000000;
$dark-gray: #444444;
$light-gray: #aaaaaa;
$gray: #888888;
$purple: #3324af;
$purple-transparent: rgba(246, 79, 169, .5);
$green: #b3ff00;
$pink: #ff0080;
$pink-transparent: rgba(255, 0, 128, .5);
$blue: #00a6ea;
$transparent-gray: rgba(170, 170, 170, .5);

$mobile-breakpoint: 27rem;
$tablet-breakpoint: 64rem;

$sub-header: 'alegreya sans sc', sans-serif;
$header: 'playfair display', serif;
$body: 'quicksand', sans-serif;
