<!doctype html>
<html lang="pl">
<head>
    {% include head.html %}
</head>
<body id="body" class="no-background">
{% include navigation.html %}
<main>
    <article id="product" class="product" data-id="{{page.title}}" data-name="{{page.title}}" data-url="{{ page.url | relative_url }}" data-price="{{page.price}}">
        <header>
            <h1 class="product__header">{{ page.name }}</h1>
            <h2 class="product__sub-header">{{page.subName}}</h2>
        </header>
        <button class="product__order" v-bind:class="{ product__order_done: ordered }" v-on:click="order">
            <span class="product__price">Zamów {{ page.price | money_without_currency }} zł</span>
            {% include arrow.html class="product__order-icon" %}
        </button>
        <span class="product__cart" v-bind:class="{ product__cart_visible: product }"><a href="{{ '/koszyk.html' | relative_url }}" v-if="product">${product.count} w koszyku</a></span>
        <div class="product__images">
            {% for image in page.images %}
                <a href="{{ image | relative_url }}" target="_blank" class="product__image_{{ forloop.index0 }} product__image"
                   style='background-image: url("{{ image | relative_url }}")'></a>
            {% endfor %}
            <button class="product__image-navigation product__image-navigation_prev">
                {% include arrow.html %}
            </button>
            <button class="product__image-navigation product__image-navigation_next">
                {% include arrow.html %}
            </button>
        </div>
        <div class="product__content">
            {% assign paragraphs = page.content | split:'</p>' %}
            {{ page.content}}
            <div class="product__content-background"></div>
        </div>
    </article>
</main>
{% include footer.html %}
{% include scripts.html %}
</body>
</html>
