<!doctype html>
<html lang="pl">
<head>
    {% include head.html %}
    {% include cookies.html %}
</head>
<body id="body">
{% include navigation.html %}
<main>
    <section class="section">
        <h1 class="section__header">Pomoce dydaktyczne</h1>
        <div class="section__line"></div>
        {% assign categories =  site.products | map: 'categories' | uniq | sort %}
        <div class="filter-wrapper">
            <ul id="filter" class="filter" data-filter="{{ page.title }}">
                <label class="filter__label">Kategorie</label>
                {% for category in categories %}
                <li class="filter__item {{active}}" v-bind:class="[filters.includes('{{ category }}')? 'filter__item_selected' : '']" v-on:click.prevent="filter('{{category}}')"><a href="">{{ category }}</a></li>
                {% endfor %}
            </ul>
            <div class="tiles">
                <div class="tiles__row">
                    {% for product in site.products %}
                        {% if product.categories contains page.title %}
                            {% include tile_vertical.html content=product class='' %}
                        {% else %}
                            {% include tile_vertical.html content=product class='hide' %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
</main>
{% include footer.html %}
{% include scripts.html %}
</body>
</html>
